/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=League+Gothic&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=League+Gothic&display=swap");

/*  Utility Section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif ;
}

.btn {
  padding: 12px 24px;
  border: none;
  font-family: sans-serif ;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.btn-light {
  background-color: #fff;
  color: #ff5722;
}

.btn-dark {
  background-color: #ff5722;
  color: #fff;
  box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

/* End of utility section */

/* Header and Nav Section */
.logo {
  color: #10375c;
  font-size: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #222831;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
}

nav ul li a:hover {
  border-bottom: 3px solid #ff5722;
}
/* Home */
.home{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
  padding: 2.5rem 0;
}
.home-row-1{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  padding: .5rem 0;
}
.sub-title{
  color:rgba(0, 0, 0, 0.5);
  font-weight:lighter;
  font-size: 1.2rem;
}
.intro-txt{
  font-size: 3rem;
}
.sub-home-right .sub-title{
  padding: .5rem;
}
@media screen and (max-width: 900px) {
  .logo {
    font-size: 15px;
  }
  nav ul li a {
    font-weight: 600;
    font-size: 12px;
    padding: 0 10px;
  }
  .btn {
    padding: 10px 13px;
    border: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
  }
}

